fastapi
uvicorn
yfinance
pandas
numpy
python-dotenv
sqlalchemy
aiohttp
pydantic
schedule
markdown
gunicorn
whitenoise
matplotlib
opencv-python
requests
beautifulsoup4
flask-cors
flask
flask-limiter
nltk
scikit-learn
scipy
Pillow
feedparser
plotly