{% extends "base.html" %}

{% block title %}Ana Sayfa{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 text-center">
        <h1 class="main-title display-4 mb-4">TDX BORSA'ya Hoş Geldiniz</h1>
        <p class="main-desc lead mb-4">Borsa analizleri, hisse değerleme ve finansal araçlar tek platformda!<br> Güvenli şekilde kayıt olun, portföyünüzü yönetin ve hisse değerleme araçlarımızı kullanın.</p>
        {% if not current_user.is_authenticated %}
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="{{ url_for('register') }}" class="btn btn-primary btn-lg px-4 gap-3">Kayıt Ol</a>
                <a href="{{ url_for('login') }}" class="btn btn-outline-secondary btn-lg px-4">Giriş Yap</a>
            </div>
        {% else %}
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="{{ url_for('hisse_fiyat_hesapla') }}" class="btn btn-success btn-lg px-4 gap-3">Hisse Fiyatı Hesapla</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %} 