{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Background Videos</h2>
    <div class="row">
        {% for video_url in video_urls %}
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ video_url.split('/')[-1] }}</h5>
                    <video class="w-100" controls>
                        <source src="{{ video_url }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %} 